<!DOCTYPE html>
<html lang="en">

<%- include("./components/head.ejs") -%>

<body>
    <header>

    </header>
    <main>
        <section id="legenda">
            <h3>Legenda</h3>
            <p><strong>J</strong>: Terug</p>
            <p><strong>K</strong>: Verder</p>
            <p><strong>Enter/Spacebar</strong>: Selecteer</p>
            <p><strong>H</strong>: Zet het licht aan</p>
        </section>
        <form action="https://www.ns.nl/reisplanner/#/?vertrek=Amsterdam%20Centraal&vertrektype=treinstation&aankomst=Eindhoven%20Strijp-S&aankomsttype=treinstation&type=aankomst&tijd=2022-04-29T" target="_blank">
            <div>
                <p>Vul een station in waar u vanaf vertrekt:</p>
                <button type="button" class="thuis-route" value="thuis" autofocus>Thuis</button>
                <button type="button" class="werk-route" value="werk">Werk</button>
                <p>Vul een station in waar u aankomt:</p>
                <button type="button" class="werk-route" value="thuis">Thuis</button>
                <button type="button" class="thuis-route" value="werk">Werk</button>
            </div>
            <div>
                <p>Kies een datum waarop u weg wilt:</p>
                <% data.forEach(function(item){ %>
                    <button type="button" class="date"><%- item -%></button>
                <% }) %>
            </div>
            <div>
                <label for="appt">Welke tijd vertrekt u?</label>
                
                <input type="time" id="" name="">
            </div>

            <input type="submit" value="Afronden">
        </form>
        <section id="train-wrapper">
            <!-- credits to: https://codepen.io/mmzzba/pen/VpRbjz -->
            <div id="train" class="hidden">
                <div class="wagon"></div>
                <div class="wagon"></div>
                <div class="wagon"></div>
                <div class="locomotive">
                  <div class="cabin"></div>
                  <div class="motor"></div>
                  <div class="chimney">
                    <div class="smoke"></div>
                  </div>
                  <div class="light"></div>
                </div>
              </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="/js/script.js"></script>
</body>

</html>