<!DOCTYPE html>
<html lang="en">

<%- include("./components/head.ejs") -%>

<body>
    <header>

    </header>
    <main>
        <form action="">
            <fieldset>
                <label for="stationVan">Vul een station in waar u vanaf vertrekt:</label>
                <input type="text" id="stationVan"><br />
                <label for="stationNaar">Vul een station in waar u aankomt:</label>
                <input type="text" id="stationNaar">
            </fieldset>
            <fieldset>
                <p>Kies een datum waarop u weg wilt:</p>
                <% data.forEach(function(item){ %>
                    <button type="button"><%- item -%></button>
                <% }) %>
            </fieldset>
            <fieldset>
                <label for="appt">Welke tijd vertrekt u?</label>
                <input type="time" id="appt" name="appt">
            </fieldset>

            <input type="submit" value="Afronden">
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>