/*
color pallete:
#32292F
#575366
#6E7DAB
#5762D5
#D1E3DD

*/

.hidden {
  display: none;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1.25em;
  overflow-x: hidden;
  margin: 0em;
}

body.pubtime {
  background-image: url('../images/wall_dark.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 95vh;
  background-size: 100%;
}

#info-wrapper {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
}

.button_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
}

.button_wrapper button, #time, input[type="submit"] {
  margin-left: 0.5em;
}

#date .button_wrapper button {
  width: 45%;
}

form div:last-of-type p {
  margin-bottom: 0.5em;
}

form div:last-of-type input[type="time"] {
  margin-bottom: 1em;
}


button[type="button"], input[type="submit"] {
    font-size: medium;
    font-weight: 700;
    padding: 0.5em;
    margin-bottom: 0.5em;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    color: #db3eb1;
    border: 2px solid #db3eb1;
    background-color: transparent;
}

input[type="submit"] {
  background-color: #db3eb1;
  color: #000;
}

button[type="button"]:focus-visible, input[type="submit"]:focus-visible {
    background-color: #003082;
    filter: drop-shadow(0 0 15px #003082) drop-shadow(0 0 50px #003082) contrast(2) brightness(2);
    color: #fff;
    border: 2px solid #003082;
    font-weight: normal;
}

button[type="button"].clicked:focus-visible {
    color: #000;
    background-color: #ffc917;
    filter: drop-shadow(0 0 15px #ffc917) drop-shadow(0 0 50px #ffc917) contrast(2) brightness(2);
    border: 2px solid #ffc917;
    font-weight: normal;
}

button[type="button"].clicked {
  filter: drop-shadow(0 0 15px #ffc917) drop-shadow(0 0 50px #ffc917) contrast(2) brightness(2);
  color: #ffc917;
  border: 2px solid #ffc917;
  background-color: transparent;
  font-weight: normal;
}


/*LEGENDA*/
#legenda {
  width: 80%;
  padding: 1em;
}

#legenda p {
  margin: 0.5em 0em;
}
#legenda h3 {
  margin: 0.5em 0em 1em 0em;
}

/*PUB*/

#under18 {
  position: absolute;
    bottom: 0;
    height: 40%;
    right: 2em;
}

#bar {
  width: 100%;
  height: 3em;
  background: linear-gradient(0deg, rgb(159 71 43) 70%, rgb(58, 58, 58) 80%, rgb(159 71 43) 80%, rgb(96 125 139) 80%);
  position: absolute;
  bottom: 0;
}

#text-bubble {
  position: absolute;
  width: 20%;
  height: 15%;
  background-color: #fff;
  right: 13em;
  bottom: 7em;
  border-radius: 3em 3em 1em;
  color: #000;
}

#text-bubble p {
  font-size: medium;
  padding: 0em 1.35em;
}

#text-bubble span {
  display: block;
}

#text-bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3em solid transparent;
  border-right: 0em solid transparent;
  border-top: 3em solid #fff;
  right: -0.5em;
  bottom: -1.5em;
  transform: rotate(320deg);
}
