/*
color pallete:
#32292F
#575366
#6E7DAB
#5762D5
#D1E3DD

*/

body {
    background-color: #000;
    color: #fff;
    font-size: 1.25em;
}

main {
    padding-left: 1em;
}

fieldset {
    border: none;
    padding-left: 0em;
}

button[type="button"], input[type=submit] {
    font-size: medium;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.clicked {
    background-color: #ffc917;
    border-color: #ffc917;
}