/*
color pallete:
#32292F
#575366
#6E7DAB
#5762D5
#D1E3DD

*/

body {
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
}

fieldset {
    border: none;
}

select {
    height: 2em;
    font-size: medium;
}

button[type="button"] {
    font-size: medium;
    padding: 0.5em;
    margin-bottom: 0.5em;
}